/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 16rem;
}
/* Dark mode styles */
:root {
  --background-color: #ffffff;
  --text-color: #1a1919;
  --primary-color: blueviolet;
}

[data-theme="dark"] {
  --background-color: #141313;
  --text-color: #fcf6f6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Back to top button container */
aside[aria-label="Scroll to top"] {
  position: fixed;
  z-index: 9999;
  bottom: 3.125rem;
  right: 1.875rem;
  isolation: isolate;
}

#back-to-top {
  /* position: relative; */
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
  scale: 1.5;
}

#back-to-top:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
}

#back-to-top::before {
  content: "\261D"; /* Unicode for pointing up finger */
  font-size: 24px;
  color: var(--background-color);
}

#back-to-top:hover {
  background-color: var(--text-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#back-to-top:hover::before {
  transform: translateY(1px);
  animation: pointing 1s infinite;
}

@keyframes pointing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

[data-theme="dark"] #back-to-top {
  background-color: white;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] #back-to-top:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Keyboard shortcuts panel */
.keyboard-shortcuts {
  position: fixed;
  bottom: 3.125rem;
  right: 6.25rem;
  z-index: 9998;
  isolation: isolate;
}

.shortcuts-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3.125rem;
  padding: 0.5rem;

  transition: transform 0.2s;
}

#shortcuts-toggle-desktop {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  bottom: 7.25rem;
  right: 1rem;
  transition: transform 0.2s;
}
#shortcuts-toggle-desktop:hover {
  background-color: rgba(167, 48, 131, 0.5); /* Light background on hover */
  transform: scale(1.1);
}

.shortcuts-panel {
  position: absolute;
  top: -57%;
  right: 85%;
  background: var(--background-color);
  border: 0.0625rem solid var(--text-color);
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 12.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.shortcuts-panel h2 {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.shortcuts-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shortcuts-panel li {
  margin: 0.5rem 0;
}

.shortcuts-panel kbd {
  background: var(--text-color);
  color: var(--background-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
  font-family: monospace;
  font-size: 0.9rem;
}
.shortcuts-panel li:nth-child(2) {
  display: none;
}

.recommendation-card button {
  border: 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--primary-color);
  color: var(--background-color);
  padding: 8px;
  z-index: 9000;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
}

/* Dark mode toggle styles */
.theme-toggle {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  z-index: 1;
  pointer-events: auto;
  scale: 1.5;
}

.darkmode-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #ebebeb;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

.darkmode-label .sun,
.darkmode-label .moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.darkmode-label .sun {
  right: 8px;
}

.darkmode-label .moon {
  left: 8px;
}

.darkmode-label:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #f5f1f1;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.darkmode-input:checked + .darkmode-label {
  background: #4a4a4a;
}

.darkmode-input:checked + .darkmode-label:after {
  transform: translateX(30px);
}

[data-theme="dark"] .fixed-header {
  background-color: #2a2a2a;
  border-bottom: 1px solid #3a3a3a;
}

nav {
  height: fit-content;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  position: relative; /* Add this to create a new stacking context */
  z-index: 1; /* Lower than the hamburger icon */
}

.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--background-color);
}

.fixed-header nav {
  position: fixed;
  top: clamp(7rem, 3vw + 4rem, 9rem);
  width: 100vw;
  padding-block: clamp(1rem, 1vw + 0.5rem, 1.5rem);
  background-color: blueviolet;
}

.fixed-header nav .my-info a {
  text-decoration: none;
  font-size: clamp(2rem, 2vw + 1.5rem, 3rem);
  color: white;
  margin: 0;
  padding-inline: clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
}

.fixed-header nav .my-info span {
  display: none;
}

.my-info :is(span, icon) {
  margin-bottom: 1rem;
}
.my-info icon {
  /* border: 1px solid blue; */
  border-radius: 50%;
  padding: 5px;
}

.contact-info {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  font-size: clamp(1.5rem, 1vw + 1.25rem, 2rem);
  background-color: #ab30ab;
  text-align: center;
  height: fit-content;
  color: white;
  padding-block: clamp(0.75rem, 1vw + 0.5rem, 1rem);
  & a {
    text-decoration: none;
    color: white;
  }
}

nav ul {
  display: flex;
  padding-inline: clamp(0.5rem, 0.5vw + 0.25rem, 2.5rem);
}
nav ul li {
  color: white;
  font-size: 1.5rem;
  margin-inline: 1.5rem;
  list-style: none;
}
@media (min-width: 769px) and (max-width: 937px) {
  nav {
    height: 8rem;
  }
  nav ul li {
    margin-right: 0.5rem;
  }

  .theme-toggle {
    position: absolute;
    top: 6rem;
    left: 2rem;
  }
}

nav ul li a {
  display: inline-block;
  will-change: transform;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s ease-in-out;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: calc(-1rem + 2px);
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--background-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a.active::after {
  transform: scaleX(1);
}

main {
  margin: 0.5rem;
  position: relative;
  z-index: 0;
}
:is(#hamburger-icon, #hamburger-icon + label, #cross-icon, #hamburger-menu) {
  opacity: 0;
  display: none;
}

#about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 1;
  padding-top: clamp(7rem, 15vw + 6rem, 13rem);
}

#about-me .my-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#about-me .my-info h1 {
  text-align: center;
  font-size: 5rem;
  color: blueviolet;
}
#about-me .my-info img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
#about-me .my-info p {
  line-height: 3rem;
  padding: 1rem;
  border-radius: 1rem;
}
:is(#skills, #projects, #recommendations) {
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;
  margin-block: 2rem;
}
:is(#skills, #projects, #recommendations) h1 {
  font-size: 3rem;
  color: blueviolet;
  margin-bottom: 2rem;
}

#skills .skill-cards {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}
#skills .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  height: 200px;
  margin-top: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
}

#skills .skill-card img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#skills .skill-card figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects .projects-info hr {
  border: 1px solid rgb(107, 107, 113);
  width: 80%;
  float: right;
  margin: 20px;
}
#projects .projects-info article h3 {
  white-space: nowrap;
}

#projects .projects-info article ul li {
  font-size: 20px;
  margin-left: 30px;
}

.recommendation-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.recommendation-cards .recommendation-card {
  border-radius: 10%;
  width: 20rem;
  padding: 1.5rem;
  font-style: italic;
  text-align: left;
  box-shadow: 0 3px 10px rgb(87, 77, 77);
  margin: 10px;
  border: 1px solid gray;
}

.recommendation-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;

  position: relative;
  z-index: 2;
}

.recommendation-form input,
.recommendation-form textarea {
  width: 100%;
  padding: 0.5rem;
}
.recommendation-form h2 {
  font-size: 30px;
  margin: 30px 0px;
}
.recommendation-form button {
  max-width: 12.5rem;
  align-self: center;
  background: white;
  border: 1px solid blueviolet;
  padding: 0.75rem;
  margin: 1rem;
  border-radius: 6px;
  color: blueviolet;
  font-size: 1.5rem;
}

.recommendation-form button:hover {
  background-color: blueviolet;
  color: white;
}

.projects-info article ul {
  margin-block: 2rem;
}

@media (min-width: 769px) {
  nav ul li a:hover::after {
    transform: scaleX(0.7);
  }

  nav ul li a:hover {
    color: white;
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Add a custom focus style */
    background-color: rgba(0, 123, 255, 0.1); /* Optional background change */
  }

  nav ul li a:active {
    /* Ensure no unexpected styles on active state */
    transform: none;
    background-color: inherit; /* or any color that matches your design */
    box-shadow: none; /* Remove any box-shadow */
  }

  nav ul li a {
    -webkit-tap-highlight-color: transparent; /* Prevents default tap highlight on mobile */
  }
}

@media (max-width: 768px) {
  nav #hamburger-icon {
    display: block;
    opacity: 1;
  }
  /* Hide hamburger label in desktop view */
  #hamburger-icon + label {
    display:block;
    opacity: 1;
    margin-right: 1rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 101;
    pointer-events: auto;
    cursor: pointer;
  }
  .shortcuts-panel li:nth-child(2) {
    display: block;
  }

  #shortcuts-toggle-desktop {
    display: none;
  }
  .fixed-header:has(ul > .theme-toggle) .theme-toggle {
    display: none;
  }

  main {
    top: 5rem;
  }
  .contact-info {
    height: 7rem;
  }
  .contact-info span {
    display: block;
    padding-block: 0.1rem;
    font-size: clamp(1rem, 1.5vw + 1rem, 2.5rem);
  }

  .fixed-header nav ul li {
    display: none;
  }

  #hamburger-menu {
    opacity: 0;
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 12rem;
    right: 0;
    max-width: 15.5rem;
    list-style-type: none;
    height: 100%;
    background-color: var(--primary-color);
    pointer-events: auto;
  }
  nav#hamburger-menu ul {
    list-style-type: none;
    height: 100%;
    background-color: var(--primary-color);
    width: 100%;
    padding: 1.5rem;
  }

  #hamburger-icon + label:hover {
    cursor: pointer;
  }
  #hamburger-icon + label .icon-bar {
    display: block;
    width: 3rem;
    height: 0.5rem;
    background-color: #cccccc;
    margin-block: 0.5rem;
    transition: all 0.2s;
  }

  #hamburger-icon + label .middle-bar {
    opacity: 1;
  }

  #hamburger-icon:checked + label .top-bar {
    transform: rotate(41deg);
    transform-origin: 5% 15%;
  }
  #hamburger-icon:checked + label .middle-bar {
    opacity: 0;
  }
  #hamburger-icon:checked + label .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: -2% 55%;
  }

  header:has(#hamburger-icon:checked) ~ nav#hamburger-menu {
    z-index: 999999;
    opacity: 1;
    display: flex;

    animation: openMenu 0.5s ease-in-out forwards;
  }

  header:not(:has(#hamburger-icon:checked)) ~ nav#hamburger-menu {
    z-index: 999999;
    opacity: 1;
    display: flex;
    animation: closeMenu 0.5s ease-in-out forwards;
  }
  nav#hamburger-menu ul {
    display: flex;
    flex-direction: column;
  }
  #hamburger-menu li {
    font-size: 1.5rem;
    list-style-type: none;
    background-color: var(--primary-color);
    margin: 2rem 0rem;
  }

  #hamburger-menu li:active,
  #hamburger-menu li:hover {
    padding-left: 1rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-decoration: underline;
    color: blueviolet;
    transform: scale3d(1.2, 1.2, 1); /* Example transform effect */
    transition: transform 0.5s ease-in-out; /* Smooth transition */
    will-change: transform;
  }

  #hamburger-menu a {
    color: white;
    text-shadow: 2px 2px 2px rgb(95, 84, 84);
    text-decoration: none;
  }

  #about-me {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  #recommendations {
    align-items: center;
    margin-inline: 1rem;
    position: relative;
  }

  .recommendation-cards {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  #about-me .my-info h1 {
    font-size: 3rem;
  }
  :is(#skills, #projects, #recommendations) {
    margin-inline: 0rem;
  }
  :is(#skills, #projects, #recommendations) h1 {
    text-align: center;
    font-size: 2rem;
  }

  .recommendation-cards .recommendation-card {
    width: 100%;
  }

  #skills .skill-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .contact-info .theme-toggle {
    display: none;
  }

  @keyframes openMenu {
    0% {
      clip-path: inset(0 0 99% 100%);
    }
    100% {
      clip-path: inset(0 -15% 0 -61%);
    }
  }

  @keyframes closeMenu {
    0% {
      clip-path: inset(0 -15% 0 -61%);
    }
    100% {
      clip-path: inset(0 0 99% 100%);
    }
  }
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
input[type="checkbox"]:focus-visible + label,
textarea:focus-visible,
label:focus-visible {
  outline: 2px solid var(--text-color);
  outline-offset: 2px;
  border-radius: 0.25rem;
}

/* Ensure the focus ring is visible in dark mode */
[data-theme="dark"] a:focus-visible,
[data-theme="dark"] button:focus-visible,
[data-theme="dark"] input:focus-visible,
[data-theme="dark"] textarea:focus-visible,
[data-theme="dark"] input[type="checkbox"]:focus-visible + label {
  outline-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
