/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

nav {
  height: 200px;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.my-info :is(span, icon) {
  margin-bottom: 20px;
}
.my-info icon {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 5px;
}

nav ul {
  display: flex;
  row-gap: 20px;
}

nav ul li {
  color: white;
  font-size: 1.5rem;
  margin-inline: 2rem;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
nav ul li a:hover,
nav ul li a:focus {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 0.6rem;
  text-underline-offset: 1rem;
  transform-origin: top left;
  transform: scale(1.2);
}

.active {
  content: '';
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  text-underline-offset: 1rem;
  transition: text-decoration 0.5s ease-in-out;
}

.fixed-header nav {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100vw;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  width: calc(100vw - 1rem);
  margin: 0 auto;
  position: relative;

  z-index: -1;
}
:is(#hamburger-icon, #cross-icon, #hamburger-menu) {
  display: none;
}
#about-me {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 1;

  padding-top: 200px;
}

#about-me .my-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 100px;
}

#about-me .my-info h1 {
  text-align: center;
  font-size: 5rem;
  color: blueviolet;
}
#about-me .my-info img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
#about-me .my-info p {
  line-height: 3rem;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}
:is(#skills, #projects, #recommendations) {
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;
  margin-block: 2rem;
}
:is(#skills, #projects, #recommendations) h1 {
  font-size: 3rem;
  color: blueviolet;
  margin-bottom: 2rem;
}
#skills .skill-cards {
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}
#skills .skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  height: 200px;
  margin-top: 1rem;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 0.5rem;
}

#skills .skill-card img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

#skills .skill-card figure figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects .projects-info hr {
  border: 1px solid rgb(107, 107, 113);
  width: 80%;
  float: right;
  margin: 20px;
}
#projects .projects-info article h3 {
  white-space: nowrap;
}

#projects .projects-info article ul li {
  font-size: 20px;
  margin-left: 30px;
}

.recommendation-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.recommendation-cards .recommendation-card {
  border-radius: 10%;
  width: 20rem;
  padding: 1.5rem;
  font-style: italic;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 3px 10px rgb(87, 77, 77);
  margin: 10px;
  border: 1px solid gray;
  font-size: 18px;
}

.recommendation-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
.recommendation-form input,
.recommendation-form textarea {
  width: 100%;
  padding: 0.5rem;
}
.recommendation-form h2 {
  font-size: 30px;
  margin: 30px 0px;
}
.recommendation-form button {
  max-width: 12.5rem;
  align-self: center;
  background: white;
  border: 1px solid blueviolet;
  padding: 0.75rem;
  margin: 1rem;
  border-radius: 6px;
  color: blueviolet;
  font-size: 1.5rem;
}

.recommendation-form button:hover {
  background-color: blueviolet;
  color: white;
}

.projects-info article ul {
  margin-block: 2rem;
}

@media (max-width: 768px) {
  nav ul li {
    display: none;
  }

  .fixed-header nav a {
    position: absolute;
    right: 0;
  }
  #hamburger-icon {
    display: block;
    max-width: 4rem;
    transition: all 0.5s ease-in-out;
  }

  #hamburger-menu a.active {
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 1rem;
    transition: text-decoration 0.5s ease-in-out;
  }

  #cross-icon {
    display: none;
    max-width: 4rem;
  }

  #cross-icon:target {
    display: block;
  }

  #hamburger-menu {
    position: fixed;
    top: 12.5rem;
    right: 0;
    max-width: 15.5rem;
    list-style-type: none;
    height: 100%;
    background-color: blueviolet;
  }
  #hamburger-menu li {
    font-size: 1.5rem;
    list-style-type: none;
    background-color: blueviolet;
    padding: 2rem;
  }

  #hamburger-menu li:active,
  #hamburger-menu li:hover {
    text-decoration: underline;
    color: blueviolet;
    transform: scale(1.05); /* Example transform effect */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  #hamburger-menu a {
    color: white;
    text-shadow: 2px 2px 2px rgb(95, 84, 84);
    text-decoration: none;
  }

  header:has(#cross-icon:target) #hamburger-icon {
    display: none;
  }

  header:has(#cross-icon:target) + #hamburger-menu {
    animation: openMenu 0.5s ease-in-out forwards;
    display: flex;
    justify-content: flex-end;
  }

  header:not(:has(#cross-icon:target)) + #hamburger-menu {
    animation: closeMenu 0.5s ease-in-out forwards;
    display: flex;
    justify-content: flex-end;
  }
  #about-me {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  header:has(#cross-icon:target) #about-me .my-info {
    align-items: center;
  }
  #recommendations {
    align-items: center;
    margin-inline: 1rem;
  }

  .recommendation-cards {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  #about-me .my-info h1 {
    font-size: 3rem;
  }
  :is(#skills, #projects, #recommendations) {
    margin-inline: 0rem;
  }
  :is(#skills, #projects, #recommendations) h1 {
    text-align: center;
    font-size: 2rem;
  }

  .recommendation-cards .recommendation-card {
    width: 100%;
  }

  #skills .skill-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  @keyframes openMenu {
    0% {
      clip-path: inset(0 0 99% 100%);
    }
    100% {
      clip-path: inset(0 -15% 0 -61%);
    }
  }

  @keyframes closeMenu {
    0% {
      clip-path: inset(0 -15% 0 -61%);
    }
    100% {
      clip-path: inset(0 0 99% 100%);
    }
  }
}
